<%=  form_for [:admin, @slide] do |f| %>
    <% if @slide.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@slide.errors.count, "error") %> prohibited this slide from being saved:</h2>

      <ul>
      <% @slide.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  

  <div class="field">
    <%= f.label "Slide" %><br />
    <%= f.file_field :image %>
  </div>
  <div class="field marginB10">
    <%= f.label :target %><br />
    <%= f.text_field :target %>
  </div>
  <div class="actions admin_input">
    <%= f.submit %>
  </div>
<% end %>
