<h2 class="marginB10 marginT10 f_left">Forgot your password?</h2>

<div class="clr"></div>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="marginB10 marginT10">
    <div><%= f.label :email %><br />
      <%= f.email_field :email %></div>
  </div>  

  <div class="marginB10 admin_input"><%= f.submit "Send me reset password instructions" %></div>
<% end %>

<%= render "links" %>
  
    <%- if controller_name != 'sessions' %>
  <span class="admin_link"><%= link_to "Back", new_session_path(resource_name) %></span><br />
<% end -%>