<script>
  $(function(){
    $('#slides').slides({
      preload: true,
      preloadImage: 'assets/loading.gif',
      play: 5000,
      pause: 2500,
      hoverPause: true,
      effect: 'fade'
    });
  });
</script>







    <div id="slides">
      <div class="slides_container">
        <% nb = 1 %>
        <% @slides.each do |slide| %>


          <a href="<%= slide.target %>"><%= image_tag slide.image.url(:medium) %></a>
          <% nb = nb+1 %>
        <% end %>

      </div>
      <a href="#" class="prev"><img onMouseOver="document.img_1.src='assets/slider_leftB.png';"onMouseOut="document.img_1.src='assets/slider_left.png';" src="assets/slider_left.png" name="img_1"  alt="Arrow Prev"></a>
      <a href="#" class="next"><img onMouseOver="document.img_2.src='assets/slider_rightB.png';"onMouseOut="document.img_2.src='assets/slider_right.png';" src="assets/slider_right.png" name="img_2"  alt="Arrow Next"></a>
    </div>

    <div id="box">
      <% cpt = 1 %>
      <% @homecols.each do |homecol| %>

        <div id="box<%= cpt %>">

          <img class="bannier_content" src="assets/bannier_content.png" alt="Geasebusters banner" />

          <span class="bannier_titre">
            <%= homecol.title %>
          </span>

          <span class="bannier_photo">
            <%= image_tag homecol.image.url(:medium) %>
          </span>  

          <h3><%= homecol.subtitle %></h3>

          <%= homecol.content.html_safe %>

        </div>
        <% if cpt >=1 && cpt <3  %>
          <img class="home_vertical_deparator" src="assets/home_vertical_separator.png" alt="Greasebusters vertical separator" />
        <% end %>
        <% cpt = cpt +1 %>
      <% end %>
      <div class="clear"></div>
      <div class="home_under_box" ></div>
    </div> 

  



