<h1 class="marginB10 f_left w100pr100">Why us Tab management</h1>

<div class="marginB10 f_left admin_link">
<%#= link_to 'New Homecol', new_admin_homecol_path %>
  <%= link_to 'Back to Greasebuster Tabs management', '../admin' %>
</div>

<div class="clr"></div>


<% @whyuscols.each do |whyuscol| %>
  <div class="f_left " >


    <div class="marginT10 marginB10  img_admin_index">
      <div class="f_left c_cf266689 bold marginB10">Image&nbsp;:&nbsp</div>
      <div>
        <%= image_tag whyuscol.image.url() %>
      </div>
    </div>

    <div class="clr"></div>

    <div class="marginT10 marginB10">
      <div class="f_left c_cf266689 bold">Title&nbsp;:&nbsp</div>
      <div class="f_left width_auto width209">
        <%= whyuscol.title %>
      </div>
    </div>

    <div class="clr"></div>

    <div class="marginT10 marginB10">
      <div class="f_left c_cf266689 bold marginB10">Content&nbsp;:&nbsp</div>
      <div class="f_left width_auto w100pr100"> 
        <%= whyuscol.content.html_safe %>
      </div>
    </div>

    <div class="clr"></div>

    <div class="marginT10 marginB10 f_left width_auto admin_link">
      <%= link_to 'Edit', edit_admin_whyuscol_path(whyuscol) %>
  <%#= link_to 'Destroy', [:admin, whyuscol], confirm: 'Are you sure?', method: :delete %>
    </div>

  </div> 
<% end %>

<div class="clr"></div>