<div id="admin_nav">
  <h1 class="marginB10 f_left">ADMIN</h1>

  <div class="clr"></div>


  <div class="f_left"> 

    <!-- before_filter :authenticate_user! -->

    <h2 class="marginT20">Greasebuster Tabs management</h2>
    
    <div class="admin_tabs_management marginT20 f_left">

      <a class="admin_border_right paddingR10" href='<%= admin_homecols_path %>'>Home</a>
      <a class="admin_border_right paddingR10 paddingL5" href='<%= admin_servicecols_path %>'>Services</a>
      <a class="admin_border_right paddingR10 paddingL5" href='<%= admin_aboutcols_path %>'>about us</a>
      <a class="admin_border_right paddingR10 paddingL5" href='<%= admin_whyuscols_path %>'>why us</a>
      <a class="admin_border_right paddingR10 paddingL5" href='<%= admin_contactcols_path %>'>contact us</a>
      <a href='<%= admin_slides_path %>'>Slideshow</a>
      <br />
      
    </div>

  </div>
</div>
  
  <div class="clr"></div>


