<h2 class="marginT10 marginB10 f_left">Sign in</h2>

<div class="clr"></div>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

  <div class="marginB10">
    <div><%= f.label :email %><br />
      <%= f.email_field :email %></div>
  </div>

  <div class="marginB10">
    <div><%= f.label :password %><br />
      <%= f.password_field :password %></div>
  </div>

  <div class="marginB5">
    <% if devise_mapping.rememberable? -%>
      <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
    <% end -%>
  </div>

  <div class="admin_input marginB10"><%= f.submit "Sign in" %></div>
  
  
<% end %>
  

<%= render "links" %>
  
  
  
  <%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
  <span class="admin_link"> <%= link_to "Forgot your password?", new_password_path(resource_name) %></span><br />
<% end -%>