<%= form_for [:admin, @homecol] do |f| %>
  <% if @homecol.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@homecol.errors.count, "error") %> prohibited this homecol from being saved:</h2>

      <ul>
      <% @homecol.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field admin_text_field">
    <%= f.label "image" %><br />
    <%= f.file_field :image %>
  </div>
  <div class="field admin_text_field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field admin_text_field">
    <%= f.label :subtitle %><br />
    <%= f.text_field :subtitle %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="actions admin_input">
    <%= f.submit %>
  </div>
<% end %>
