<h1 class="marginB10 f_left w100pr100">Home Tab management</h1>


<div class="marginB10 f_left admin_link">
<%#= link_to 'New Homecol', new_admin_homecol_path %>
  <%= link_to 'Back to Greasebuster Tabs management', '../admin' %>
</div>

<div class="clr"></div>


<% cpt = 1 %>
<% @homecols.each do |homecol| %>
<% if cpt == 2 %>
<div class="f_left marginL10 homecol-bloc" >
<% else %>
  <div class="f_left marginL10" >
  <%  end %>
    <div class="f_left c_cf266689 bold">Title&nbsp;:&nbsp</div>
    <div class="f_left width_auto width209">
      <%= homecol.title %>
    </div>

    <div class="clr"></div>

    <div class="marginB10 marginT10">
      <div class="f_left c_cf266689 bold marginB10">Image&nbsp;:&nbsp</div>
      <div>
        <%= image_tag homecol.image.url() %>
        <!--width="290px" height="102px" -->
      </div>
    </div>

    <div class="clr"></div>

    <div class="marginB10 marginT10">
      <div class="f_left c_cf266689 bold">Subtitle&nbsp;:&nbsp</div>
      <div class="f_left width_auto width209">
        <%= homecol.subtitle %>
      </div>
    </div>

    <div class="clr"></div>

    <div class="marginB10 marginT10">
      <div class="f_left c_cf266689 bold">Content&nbsp;:&nbsp</div>
      <div class="f_left width_auto width209"> 
        <%= homecol.content.html_safe %>
      </div>
    </div>

    <div class="clr"></div>

    <div class="marginT10 f_left width_auto admin_link">
      <%= link_to 'Edit', edit_admin_homecol_path(homecol) %>
  <%#= link_to 'Destroy', [:admin, homecol], confirm: 'Are you sure?', method: :delete %>
    </div>

  </div> 
 <% cpt = cpt +1 %>
<% end %>

<br />
<div class="clr">

</div>


