<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @homecol.title %>
</p>
<p>
  <b>Img:</b>
  <%= image_tag @homecol.image.url(:medium) %>
</p>
<p>
  <b>Subtitle:</b>
  <%= @homecol.subtitle %>
</p>

<p>
  <b>Content:</b>
  <%= @homecol.content.html_safe %>
</p>




<%= link_to 'Edit', edit_admin_homecol_path(@homecol) %> |
<%= link_to 'Back', admin_homecols_path %>
