<h1 class="marginB10 f_left w100pr100">About us Tab management</h1>

<div class="marginB10 f_left admin_link">
<%#= link_to 'New Homecol', new_admin_homecol_path %>
  <%= link_to 'Back to Greasebuster Tabs management', '../admin' %>
</div>

<div class="clr"></div>


<% @aboutcols.each do |aboutcol| %>
  <div class="f_left " >

    <div class="marginB10 marginT10">
      <div class="f_left c_cf266689 bold marginB10">Image&nbsp;:&nbsp</div>
      <div class="img_admin_index">
        <%= image_tag aboutcol.image.url() %>
      </div>
    </div>

    <div class="clr"></div>

    <div class="marginB10 marginT10">
      <div class="f_left c_cf266689 bold">Title&nbsp;:&nbsp</div>
      <div class="f_left width_auto width209">
        <%= aboutcol.title %>
      </div>
    </div>

    <div class="clr"></div>

<div class="marginB10 marginT10">
    <div class="f_left c_cf266689 bold">Content&nbsp;:&nbsp</div>
    <div class="f_left width_auto w100pr100"> 
      <%= aboutcol.content.html_safe %>
    </div>
</div>

    <div class="clr"></div>

    <div class="marginT10 marginB10 f_left width_auto admin_link">
      <%= link_to 'Edit', edit_admin_aboutcol_path(aboutcol) %>
  <%#= link_to 'Destroy', [:admin, aboutcol], confirm: 'Are you sure?', method: :delete %>
    </div>

  </div> 
<% end %>

<div class="clr"></div>