<h1 class="marginB10 f_left w100pr100">Service Tab management</h1>

<div class="marginB10 f_left admin_link">
<%#= link_to 'New Homecol', new_admin_homecol_path %>
  <%= link_to 'Back to Greasebuster Tabs management', '../admin' %>
</div>

<div class="clr"></div>


<% @servicecols.each do |servicecol| %>
  <div class="f_left " >

    <div class="marginB10 marginT10 img_admin_index">
      <div class="f_left c_cf266689 bold marginB10">Image&nbsp;:&nbsp</div>
      <div>
        <%= image_tag servicecol.image.url() %>
      </div>
    </div>

    <div class="clr"></div>

    <div class="marginB10 marginT10">
      <div class="f_left c_cf266689 bold">Title&nbsp;:&nbsp</div>
      <div class="f_left width_auto width209">
        <%= servicecol.title %>
      </div>
    </div>

    <div class="clr"></div>

    <div class="marginB10 marginT10">
      <div class="f_left c_cf266689 bold">Content&nbsp;:&nbsp</div>
      <div class="f_left width_auto w100pr100"> 
        <%= servicecol.content.html_safe %>
      </div>
    </div>

    <div class="clr"></div>

    <div class="marginT10 marginB10 f_left width_auto admin_link">
      <%= link_to 'Edit', edit_admin_servicecol_path(servicecol) %>
  <%#= link_to 'Destroy', [:admin, servicecol], confirm: 'Are you sure?', method: :delete %>
    </div>

  </div> 
<% end %>

<div class="clr"></div>