<!DOCTYPE html>
<html>
<head>
  <title>Buster</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%#= javascript_include_tag "application" %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "jquery.js"%>
  <%= javascript_include_tag 'http://gsgd.co.uk/sandbox/jquery/easing/jquery.easing.1.3.js' %>
  <%= javascript_include_tag "slides.min.jquery"%>
  <%= csrf_meta_tags %>
</head>
<body>
<%#= debug(params) %>
  <div id="super_conteneur">
  <div id="header">

    <div class="wrapper">
        <a href="index.php" id="logotype">
            <img id="logo" src="../assets/logo.png" alt="Greysbusters Logo" />
        </a>

        <div id="header_menu">
            <ul>
                <li><a href="home" id="li_first">HOME</a></li>
                <li><a href="services" class="li_others">SERVICES</a></li>
                <li><a href="about-us" class="li_others">ABOUT US</a></li>
                <li><a href="why-us" class="li_others">WHY US</a></li>
                <li><a href="contact-us" class="li_others">CONTACT US</a></li>
            </ul>
        </div>

        <div id="header_contact">
            <h2 id="cotation">get a free quote today</h2>
            <h2 id="contact">click here or call 480.388.2685</h2>
        </div>

    </div>
</div>
    <div id="background_content"></div> 
            <div id="content" class="wrapper">
<%= yield %>
            </div>
    <div id="container_shadow"></div>
  </div>
    <div id="footer" >
    <div class="wrapper">
        <div id="footer_3_div">
            <div id="footer_div1">
                <a href="http://www.flickr.com/apps/slideshow/show.swf?v=71649" target="_blank">
                    <img src="../assets/whyus_03.png" />
                    <div class="text_3_div">VIEW RECENT PROJECTS FLICKR</div>
                </a>
            </div>

            <div id="footer_div2">
                <a href="contact-us">
                    <img src="../assets/whyus_03.png" />
                    <div class="text_3_div">GET A FREE QUOTE TODAY</div>
                </a>
            </div>

            <div id="footer_div3">
                <a href="contact-us">
                    <img src="../assets/whyus_03.png" />
                    <div class="text_3_div">REQUEST SERVICE 267.978.6574</div>
                </a>
            </div>
        </div>

        <div class="clear"></div>
    </div>
    <div id="footer_menu">
        <span id="copyright">&copy; 2012 All Rights Reserved. Greasebusterphilly.com</span>

        <div id="footer_menu_list">
            <ul>
                <li><a href="home">Home -</a></li>
                <li><a href="services" class="">&nbsp;Services -</a></li>
                <li><a href="about-us" class="">&nbsp;About Us -</a></li>
                <li><a href="why-us" class="">&nbsp;Why Us -</a></li>
                <li><a href="contact-us" class="">&nbsp;Contact Us -</a></li>
                <li><a href="#" class="">&nbsp;Site map -</a></li>
                <li><a href="#" class="">&nbsp;Legal information </a></li>
            </ul>
        </div>

    </div>

</div>
    
  </div>
</body>
</html>
